body { padding: 20px 50px 50px; }
h2 { margin: 30px 0 40px; font-size: 18px; font-weight: bold; }
pre {
    color: #444;
    cursor: auto;
    border-left: 2px solid #7F96AA;
    margin-top: 20px;
    padding: 0 10px 20px 10px;
    font-size: 14px;
}
.hidden { display: none; }
